*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
.header {
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    width: 1600px;
}
.header__logo {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #18bea581;
    font-weight: 600;
}
.header__menu {
    display: flex;
    cursor: pointer;
}
.header-menu__link {
    margin: 10px 25px;
    font-size: 17px;
    color: rgb(41, 209, 187);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;  
    transition: 0.4s; 
}
.header-menu__link::after{
    content: "";
    width: 0%;
    right: 0%;
    top: 130%;
    position: absolute;
    height: 3px;
    background-color: rgba(248, 187, 65, 0.888);
    transition: 0.4s;
}
.header-menu__link:hover{
    color: rgba(248, 187, 65, 0.888);
} 
.header-menu__link:hover::after{
    background-color: rgba(248, 187, 65, 0.888);
    width: 100%;
}
.header-menu__link:hover:nth-child(2)::after{
    background-color: #000;
}
.header-menu__link:hover:nth-child(2){
    color: #000;
}
.main {
    text-align: center;
    margin-top: 30px;
}
.block__info {
}
.block__info__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.block__info__subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}
hr{
    border: 3px solid rgba(248, 187, 65, 0.888);
    width: 70px;
    margin: 30px auto;
}
.benefist__block {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 40px;
}
.item {
    width: 290px;
    height: 130px;
}
.item-inside {
    display: flex;
    flex-wrap: wrap;
}
.fa-solid {
    font-size: 22px;
    color: rgb(41, 209, 187);
}
.fa-palette {
}
.item-title {
    font-size: 15px;
    padding: 0 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.532);
}
.item-text {
    font-size:12px ;
    padding: 7px 35px;
    color: rgb(94, 94, 94);
}
.fa-regular {
}
.fa-clock {
    font-size: 22px;
    color: rgb(41, 209, 187);
}
.second-block__info {
    text-align: center;
    margin-top: 30px;
}
.second__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.second__subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}
hr{
    border: 3px solid rgba(248, 187, 65, 0.888);
    width: 70px;
    margin: 30px auto;
}
.second-block__text {
    font-size: 12px;
    width: 900px;
    height: 50px;
    margin: 0 auto;
    color: rgb(94, 94, 94);
    font-weight: 400;
    margin-top: 50px;
}
.block-card {
    width: 1000px;
    height: 600px;
    margin:  auto;
    display: flex;
    justify-content: space-around;

}
.block-card__1 {
    width: 300px;
    height: 400px;
    margin-top: 20px;
}
.block-image__1{
    background-image: url(https://ik.imagekit.io/whxbbdmr2twh/fom-uk/wp-content/uploads/2021/08/Mens-New-Arrivals-min.jpeg);
    background-size: cover;
    width: 300px;
    height: 350px;
}
.block-image__2{
    background-image: url(https://www.nancystore.be/media/widgetkit/STATE_Z6-981bdef619d0b109b732ac7d220593e6.jpg);
    background-size: cover;
    background-position: 450px 0;
    width: 300px;
    height: 350px;
}
.block-image__3{
    background-image: url(https://images.unsplash.com/photo-1570693148754-5990bc28c97f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NXx8fGVufDB8fHx8&w=1000&q=80);
    background-size: cover;
    background-position: 0px 350px;
    width: 300px;
    height: 350px;
}
.block-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-card__title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.775);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0 0 0;
}
.block-card__subtitle {
    font-size: 12px;
    color: rgb(150, 141, 141);
}
.block-card__2 {
    width: 300px;
    height: 400px;
    margin-top: 20px;
}
.block-card__3 {
    width: 300px;
    height: 400px;
    margin-top: 20px;
}
.block-image__shadov{
    width: 300px;
    height: 350px;
    background: linear-gradient(rgba(255, 67, 67, 0.819),rgba(255, 246, 80, 0.638));
    position: absolute;
    left: 270px;
    top: 890px;
}
.fa-brands {
    background-color: rgb(255, 231, 93);
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 4px;
    margin: 2px;
    color: rgb(255, 77, 77);
}
.fa-instagram {
    text-align: center;
}
.fa-facebook {
    background-color:rgb(27, 240, 255);
}
.fa-twitter {
    text-align: center;
}
.fa-telegram {
    text-align: center;
}
.block-image__icons{
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: 70px;
}
.footer{

}
.footer__line{
    width: 1000px;
    border: 2px solid rgba(123, 123, 123, 0.721);
    position: absolute;
    left: 270px;
    top: 1450px;
}